nav .brand-logo{margin: 0 30px;}

.dashboard {
  margin-top: 20px !important;
}

.dashboard h2{
  color: #0097a7 ;
  font: 700 3em 'Barlow Condensed', sans-serif;
  text-align: center;
}

.dashboard .card {
    position: relative;
    z-index: 1;
    text-align: center;
    background: transparent !important;
}
.dashboard .card::after {
    content: "";
    position: absolute;
    bottom: 0;
    top:0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom center;
    background: #f5f5f5 ;
    z-index: -1;
    transition: transform 0.3s;
}
.dashboard .card:hover::after {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
}

.dashboard .card span{padding: 0 5px;}

.card-action{
  color: #0097a7    ;
  font: 400 1.2em 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
}

.card-action span{
  color: #01579b    ;
  font: 400 1.2em 'Barlow Condensed', sans-serif;
}

.notifications-list{
  margin-top: 20px;
   border: .07142857rem solid #cecfd5;
   border-radius:5px;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   -ms-border-radius:5px;
   -o-border-radius:5px;
}

.notifications-list .card-title, .card .card-content .card-title{
  color: #0097a7 ;
  font: 700 1.5em 'Barlow Condensed', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.item-user{
  display: inline-block;
  color: #0097a7  ;
  font: 400 1.4em 'Barlow Condensed', sans-serif;
}
.item-content{
  padding-left: 5px;
  display: inline-block;
  color: #01579b    ;
  font: 400 1.2em 'Barlow Condensed', sans-serif;
}
.item-date{
  display: block;
  color: #01579b   ;
  font: 400 1em 'Barlow Condensed', sans-serif;
}

.notifications-list li{
  width: 90%;
  margin: 20px auto;
  padding: 20px 10px;
  background: #f5f5f5 ;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.project-lists{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project-lists a{
  display: inline-flex;
  margin: 10px;
  width: 45%;
  flex-direction: column;
}

.project-lists a .card{
  height: 100%;
}